#card{
    text-align: center;
    width:300px;
    margin: 10px auto;
    border-bottom: 10px solid #482803;
    border-radius: 10px;
    background:#523106 ;
    padding:20px;
    color:#ecece2;
}


#increment-btn,#save-btn{
    display: block; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    width: 100px;
    border-radius: 10px;
}